

<!-- forgot_password.html -->
{% extends 'base.html' %}

{% block title %} <title>Forgot Password</title> {% endblock %}

{% block content %}


<div class="global-container">
    <div class="card login-form">
    <div class="card-body">
        <h3 class="card-title text-center">Type your Gmail</h3>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
  
    {% endif %}
        <div class="card-text">
            <!--
            <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
            <form method="post" >
                {% csrf_token %}
                <!-- to error: add class "has-danger" -->
                <div class="form-group">
                    <label for="exampleInputEmail1">email</label>
                    <input type="text" name="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset Password </button>
                
            </form>
        </div>
    </div>
</div>
</div>


{% endblock %}