{% extends "base.html"%}
{% block title %} <title>Reset Password </title> {% endblock %}

    {% block content %}


    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center"> Reset Password </h3>
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
      
        {% endif %}
            <div class="card-text">
                <!--
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form method="post" >
                    {% csrf_token %}
                    <!-- to error: add class "has-danger" -->
                    <div class="form-group">
                        <label for="exampleInputpPassword1">Password</label>
                        <input type="text" name="password1" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        
                        <input type="password" name="password2" class="form-control form-control-sm" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Change Password </button>
                    
                    <div class="sign-in">
                        <a href="{% url 'login_attempt' %}">sign-in</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    

    {% endblock %}